.landingPageContainer{
  width:100vw;
  height:100vh;
  background:url(/public/background.png);
  background-size:cover;
  background-repeat: no-repeat;
  color: white;

}

.landingPageContainer nav{
  padding-inline:1.2rem;
  padding-block: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-content:center;
}

.landingPageContainer nav h2{ 
  font-size: 1.8rem;
  font-weight: 500;
}

.landingPageContainer nav .navList{
  display: flex;
  gap: 1.6rem;
  cursor: pointer;
}

.landingMainContainer{
  display: flex;
  justify-content: center;
  padding-inline: 3rem;
  height: 70vh;
  align-items: center;
}

.landingMainContainer > div:first-child {
  font-size: 1.5rem;
  flex: 1;
}

.landingMainContainer > div:first-child div {
  background: #d97500;
  width: fit-content;
  padding: 0.8rem 1.5rem;
  margin-top: 1rem;
  border-radius: 5px;
  cursor: pointer;
}
.landingMainContainer a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 1.2rem;
}

.landingMainContainer > div:nth-child(2) img{
  height: 80vh;
  width: auto;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20px;
  text-align: center;

}
.meetContainer {
  display: flex;
  padding-inline: 20px;
  height: 80vh;
  gap: 10vw;
  justify-content: center;
}



.leftPanel {
  height: 100%;
  display: flex;
  align-items: center;

}

.rightPanel {
  display: flex;
  align-items: center;
}

.rightPanel > img {
  width: 30vw;
  height: auto;
  border-radius: 20px;
}