.meetVideoContainer {
    position: relative;
    height: 100vh;
    background: rgb(1, 4, 48);
    display: flex; /* Added to keep video and chat side-by-side if needed */
}

.meetUserVideo {
    position: absolute;
    bottom: 10vh;
    height: 20vh;
    width: auto;
    left: 0;
    border-radius: 20px;
}

.buttonContainers {
    position: absolute;
    width: 100vw;
    bottom: 0;
    text-align: center;
}

.buttonContainers svg {
    font-size: 3rem;
}

.conferenceView { 
    display: flex;
    flex-wrap: wrap; /* Allows videos to stack */
    padding: 10px;
    gap: 10px;
    width: 70vw; /* Keeps video area from going under the chat */
}

.conferenceView video {
    width: 40vw;
    height: 20vh;
    min-width: 30vw;
    border-radius: 10px;
}

.chatRoom {
    position: absolute;
    height: 90vh;
    right: 0; /* Keeps chat box on the right */
    top: 0;
    background: white;
    border-radius: 10px;
    width: 30vw;
    padding-inline: 20px;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.chatContainer {
    position: relative;
    height: 100%;
}

.chattingArea {
    position: absolute;
    bottom: 0;
    width: 100%; /* Ensures the input area stretches across the chat box */
    left: 0;
}